.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
  margin: -1px;
}

body {
  padding: 0;
  background-color: white;
  color: #212121;
  font-family: Roboto, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  letter-spacing: 0.03em;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  display: block;
  margin: 0;
  padding-left: 0;
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    min-width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .container--header {
    margin: 0;
  }
}

.container--hero {
  padding-left: 45px;
  padding-right: 45px;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .container--hero {
    padding-left: 189px;
    padding-right: 189px;
  }
}
@media screen and (min-width: 1200px) {
  .container--hero {
    padding-left: 237px;
    padding-right: 237px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media screen and (min-width: 1200px) {
  .container--footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.header {
  border-bottom: 1px solid #ececec;
}

.logo {
  color: #2196f3;
  text-decoration: none;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir, segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial, sans-serif;
  font-size: 24px;
  font-weight: 700;
}
@media screen and (min-width: 768px) {
  .logo {
    margin-right: 87px;
  }
}
@media screen and (min-width: 1200px) {
  .logo {
    margin-right: 95px;
    font-size: 26px;
  }
}

.logo--black {
  color: black;
}

.logo--footer {
  margin-right: 0;
}

.logo--white {
  color: white;
}

.nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 10px;
  padding-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .nav {
    padding-top: 21px;
    padding-bottom: 21px;
  }
}
@media screen and (min-width: 1200px) {
  .nav {
    padding-top: 24px;
    padding-bottom: 25px;
  }
}

.nav__list {
  display: none;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}
@media screen and (min-width: 1200px) {
  .nav__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

.nav__item {
  position: relative;
  margin-right: 50px;
}
.nav__item:last-child {
  margin-right: 0;
}

.nav__link {
  color: #212121;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: false;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: #2196f3;
}

.nav__link--current {
  color: #2196f3;
}
.nav__link--current::after {
  content: "";
  width: 48px;
  height: 4px;
  position: absolute;
  bottom: -32px;
  left: 50%;
  -webkit-transform: translate(-50%);
          transform: translate(-50%);
  display: block;
  background-color: #2196f3;
  border-radius: 2px;
}
@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .nav__link--current::after {
    bottom: -33px;
  }
}

.contacts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: auto;
  list-style: none;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .contacts {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .contacts {
    display: block;
  }
}

.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}

@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .contacts__item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: start;
    margin-bottom: 10px;
  }
  .contacts__item:last-child {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .contacts__item {
    margin-right: 50px;
  }
  .contacts__item:last-child {
    margin-right: 0;
  }
}

.contacts__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #757575;
  text-decoration: none;
  font-size: 14px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: false;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts__link:hover, .contacts__link:focus {
  color: #2196f3;
}
@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .contacts__link {
    font-size: 12px;
  }
}

.contacts__item--footer,
.contacts__item--map {
  margin-bottom: 9px;
  margin-right: 0;
}

.contacts__link--footer,
.contacts__link--map {
  letter-spacing: 0.03em;
}

.contacts__link--map {
  color: white;
}

.hero {
  max-width: 1600px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: #c4c4c4;
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/bg-img_sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg-img_sm.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0;
}
@media (min-device-pixel-ratio: 2), (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi), (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/bg-img_sm@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg-img_sm@2x.jpg);
  }
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .hero {
    height: 300px;
  }
}
@media screen and (min-width: 768px) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/bg-img_md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg-img_md.jpg);
  }
}
@media screen and (min-width: 768px) and (min-device-pixel-ratio: 2), screen and (min-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 768px) and (min-resolution: 192dpi), screen and (min-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/bg-img_md@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg-img_md@2x.jpg);
  }
}
@media screen and (min-width: 1200px) {
  .hero {
    height: 600px;
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/bg-img_lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg-img_lg.jpg);
    padding-top: 200px;
    padding-bottom: 200px;
  }
}
@media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 1200px) and (min-resolution: 192dpi), screen and (min-width: 1200px) and (min-resolution: 2dppx) {
  .hero {
    background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(47, 48, 58, 0.4)), to(rgba(47, 48, 58, 0.4))), url(../img/hero/bg-img_lg@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../img/hero/bg-img_lg@2x.jpg);
  }
}

.hero__heading {
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 26px;
  font-weight: 900;
  letter-spacing: 0.06em;
  line-height: 1.6;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .hero__heading {
    font-size: 17px;
  }
}
@media screen and (min-width: 1200px) {
  .hero__heading {
    font-size: 44px;
  }
}

.button {
  width: 200px;
  height: 50px;
  margin-top: 30px;
  border: none;
  border-radius: 4px;
  color: white;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 1.9;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, -webkit-box-shadow;
  transition-property: background-color, box-shadow;
  transition-property: background-color, box-shadow, -webkit-box-shadow;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .button {
    width: 165px;
    height: 40px;
    font-size: 12px;
  }
}
@media screen and (min-width: 1200px) {
  .button {
    width: 216px;
  }
  .button:hover, .button:focus {
    background-color: #188ce8;
    cursor: pointer;
  }
}

.button--form {
  width: 200px;
  margin-top: 0;
  margin-left: 12px;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.button__icon {
  margin-left: 10px;
  fill: currentColor;
}

.button--form-modal {
  margin: 0 auto;
  display: block;
}

@media screen and (min-width: 480px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .features {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .features {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.features__heading {
  margin-top: 30px;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: false;
  line-height: false;
  text-align: center;
}
@media screen and (min-width: 768px) {
  .features__heading {
    text-align: left;
  }
}

.features__list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .features__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.features__item:not(:last-child) {
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .features__item {
    -ms-flex-preferred-size: calc((100% - 30px) / 2);
        flex-basis: calc((100% - 30px) / 2);
  }
  .features__item:nth-child(2n+1) {
    margin-right: 30px;
  }
  .features__item:nth-child(n+3) {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .features__item {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
  }
  .features__item:not(:last-child) {
    margin-right: 30px;
  }
}

.features__icon {
  min-height: 120px;
  background-color: #f5f4fa;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 4px;
}

.features__text {
  color: #757575;
  font-size: 14px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.7;
}

.work {
  padding-top: 0;
  padding-bottom: 94px;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .work {
    display: none;
  }
}
@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .work {
    display: none;
  }
}

.work__heading {
  margin-bottom: 50px;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: false;
  line-height: false;
}

.work__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.work__item {
  margin-right: 30px;
  position: relative;
}
.work__item:last-child {
  margin-right: 0;
}

.work__text {
  width: 100%;
  height: 70px;
  margin-top: -70px;
  background-color: rgba(47, 48, 58, 0.8);
  color: white;
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: false;
  line-height: 1.2;
}

.team {
  background-color: #f5f4fa;
}
@media screen and (min-width: 480px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .team {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team__heading {
  margin-bottom: 0;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: false;
  line-height: false;
}
@media screen and (min-width: 1200px) {
  .team__heading {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.team__list {
  list-style: none;
}
@media screen and (min-width: 768px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .team__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.team__item {
  background-color: white;
  border-bottom-left-radius: 4px;
  border-bottom-right-radius: 4px;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  margin-top: 30px;
}
@media screen and (min-width: 768px) {
  .team__item {
    -ms-flex-preferred-size: 354px;
        flex-basis: 354px;
  }
  .team__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .team__item {
    -ms-flex-preferred-size: 270px;
        flex-basis: 270px;
    margin-top: 0;
  }
  .team__item:not(:last-child) {
    margin-right: 30px;
  }
}

.team__member-info {
  padding-top: 30px;
  padding-bottom: 24px;
}
@media screen and (min-width: 1200px) {
  .team__member-info {
    padding-bottom: 30px;
  }
}

.team__member-name {
  padding-bottom: 10px;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: false;
  line-height: false;
}

.team__member-job {
  color: #757575;
  text-align: center;
}

.socials {
  margin-top: 16px;
  padding-left: 32px;
  padding-right: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  list-style: none;
}

.socials__item {
  margin-right: 10px;
}
.socials__item:last-child {
  margin-right: 0;
}

.socials__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #afb1b8;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, background-color;
  transition-property: color, background-color;
}
@media screen and (min-width: 1200px) {
  .socials__link:hover, .socials__link:focus {
    color: white;
    background-color: #2196f3;
  }
}

.socials__icon {
  fill: currentColor;
}

.socials--footer {
  padding: 0;
  margin-top: 0;
}

.socials__link--footer {
  background-color: rgba(255, 255, 255, 0.1);
  color: white;
}

@media screen and (min-width: 480px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .clients {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .clients {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.clients__heading {
  margin-bottom: 0;
  text-align: center;
  font-size: 28px;
  font-weight: 700;
  letter-spacing: false;
  line-height: false;
}
@media screen and (min-width: 1200px) {
  .clients__heading {
    margin-bottom: 50px;
    font-size: 36px;
  }
}

.clients__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}
@media screen and (min-width: 1200px) {
  .clients__list {
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap;
  }
}

.clients__item {
  margin-top: 30px;
  min-width: 210px;
}
@media screen and (min-width: 480px) and (max-width: 767.99px) {
  .clients__item:nth-child(2n+1) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 768px) {
  .clients__item {
    min-width: 226px;
    margin-right: 0;
  }
  .clients__item:not(:nth-child(3n)) {
    margin-right: 30px;
  }
}
@media screen and (min-width: 1200px) {
  .clients__item {
    min-width: 170px;
    margin-top: 0;
  }
  .clients__item:not(:last-child) {
    margin-right: 30px;
  }
}

.clients__link {
  -ms-flex-preferred-size: calc((100% - 30px) / 2);
      flex-basis: calc((100% - 30px) / 2);
  height: 92px;
  color: #afb1b8;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: color, border-color;
  transition-property: color, border-color;
}
.clients__link:hover, .clients__link:focus {
  color: #2196f3;
  border-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .clients__link {
    -ms-flex-preferred-size: calc((100% - 60px) / 3);
        flex-basis: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .clients__link {
    -ms-flex-preferred-size: 16.6666666667%;
        flex-basis: 16.6666666667%;
  }
}

.clients__icon {
  fill: currentColor;
}

.section--footer {
  background-color: #2f303a;
}
@media screen and (min-width: 480px) {
  .section--footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .section--footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .section--footer {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}
@media screen and (min-width: 1200px) {
  .section--footer {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.footer-address {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-address {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.address__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  list-style: none;
  font-style: normal;
  font-size: 14px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.7;
}
@media screen and (min-width: 1200px) {
  .address__info {
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer-socials {
  margin-top: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .footer-socials {
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-socials {
    margin-top: 12px;
    margin-left: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer-socials__heading {
  margin-bottom: 20px;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: false;
  line-height: false;
}

.footer-form {
  margin-top: 60px;
}
@media screen and (min-width: 768px) and (max-width: 1199.99px) {
  .footer-form {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form {
    margin-top: 0;
    margin-left: auto;
    padding-top: 12px;
  }
}

.footer-form__heading {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  letter-spacing: false;
  line-height: false;
}
@media screen and (min-width: 1200px) {
  .footer-form__heading {
    text-align: left;
  }
}

.footer-form__group {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 1200px) {
  .footer-form__group {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}

.footer-form__field {
  width: 100%;
  height: 50px;
  margin-bottom: 20px;
  padding: 15px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: unset;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-width, border-color, color;
  transition-property: border-width, border-color, color;
}
.footer-form__field::-webkit-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.25;
}
.footer-form__field::-moz-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.25;
}
.footer-form__field:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.25;
}
.footer-form__field::-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.25;
}
.footer-form__field::placeholder {
  color: rgba(255, 255, 255, 0.6);
  font-size: 16px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.25;
}
.footer-form__field:focus {
  border-width: 1px;
  border-color: #2196f3;
  color: white;
}
@media screen and (min-width: 768px) {
  .footer-form__field {
    width: 450px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-form__field {
    width: 358px;
    margin-bottom: 0;
  }
}

@media screen and (min-width: 480px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 768px) {
  .portfolio {
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .portfolio {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.portfolio__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  list-style: none;
}

.portfolio__item {
  margin-right: 30px;
  margin-bottom: 30px;
}
.portfolio__item:nth-child(3n) {
  margin-right: 0;
}
.portfolio__item:nth-last-child(-n+3) {
  margin-bottom: 0;
}

.portfolio__link {
  display: inline-block;
  color: #212121;
  text-decoration: none;
  -webkit-transition-property: -webkit-box-shadow;
  transition-property: -webkit-box-shadow;
  transition-property: box-shadow;
  transition-property: box-shadow, -webkit-box-shadow;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover, .portfolio__link:focus {
  -webkit-box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
          box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;
}

.portfolio__overlay {
  width: 100%;
  height: 100%;
  padding-left: 24px;
  padding-right: 24px;
  background-color: rgba(33, 150, 243, 0.9);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 1px;
  left: 0;
  -webkit-transform: translateY(100%);
          transform: translateY(100%);
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio__link:hover .portfolio__overlay {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.portfolio__overlay-text {
  color: white;
  font-size: 18px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.6;
}

.portfolio__info {
  padding: 20px 24px;
  border-bottom: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
}

.portfolio__item-heading {
  font-size: 18px;
  font-weight: 700;
  letter-spacing: 0.06em;
  line-height: 2;
}

.portfolio__item-text {
  color: #757575;
  font-size: 16px;
  line-height: 1.9;
  font-size: 16px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.9;
}

.filters {
  margin-bottom: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  list-style: none;
}

.filters__item {
  margin-right: 8px;
}
.filters__item:last-child {
  margin-right: 0;
}

.filters__button {
  padding: 10px 25px;
  border: none;
  border-radius: 4px;
  background-color: #f5f4fa;
  font-size: 16px;
  font-weight: 500;
  letter-spacing: false;
  line-height: false;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, -webkit-box-shadow;
  transition-property: background-color, color, box-shadow;
  transition-property: background-color, color, box-shadow, -webkit-box-shadow;
}
.filters__button:hover, .filters__button:focus, .filters__button:active {
  background-color: #2196f3;
  color: white;
  -webkit-box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
          box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.2);
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  width: 450px;
  height: 609px;
  padding-left: 40px;
  padding-right: 40px;
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: #fff;
  -webkit-box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
  }
}

.backdrop.is-hidden .modal {
  -webkit-transform: translateX(-50%) translateY(-70%) scale(0.7);
          transform: translateX(-50%) translateY(-70%) scale(0.7);
}

.modal__heading {
  margin-top: 40px;
  margin-bottom: 12px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
  letter-spacing: false;
  line-height: 1.5;
}
@media screen and (min-width: 1200px) {
  .modal__heading {
    line-height: auto;
  }
}

.modal__form-group {
  width: 100%;
  margin-bottom: 10px;
  display: block;
  position: relative;
  color: #757575;
  font-size: 12px;
  font-weight: false;
  letter-spacing: 0.01em;
  line-height: 1.2;
}

.modal__form-label {
  margin-bottom: 4px;
  display: block;
}

.modal__form-field {
  width: 100%;
  height: 40px;
  padding-left: 42px;
  padding-right: 10px;
  color: rgb(33, 33, 33);
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: unset;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-field:focus {
  border-color: #2196f3;
}
.modal__form-field:focus + .modal__form-icon {
  fill: #2196f3;
}

.modal__form-icon {
  margin-left: 12px;
  margin-bottom: 11px;
  fill: currentColor;
  position: absolute;
  bottom: 0;
  left: 0;
  -webkit-transition-property: fill;
  transition-property: fill;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__form-message {
  width: 100%;
  height: 120px;
  padding: 12px 16px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: unset;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal__form-message::-webkit-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: false;
  letter-spacing: 0.01em;
  line-height: 1.2;
}
.modal__form-message::-moz-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: false;
  letter-spacing: 0.01em;
  line-height: 1.2;
}
.modal__form-message:-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: false;
  letter-spacing: 0.01em;
  line-height: 1.2;
}
.modal__form-message::-ms-input-placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: false;
  letter-spacing: 0.01em;
  line-height: 1.2;
}
.modal__form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  font-weight: false;
  letter-spacing: 0.01em;
  line-height: 1.2;
}
.modal__form-message:focus {
  border-color: #2196f3;
}

.modal__form-checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 16px;
  height: 15px;
  background-position: center;
  background-repeat: no-repeat;
  outline: unset;
  border: 1px solid rgb(33, 33, 33);
  border-radius: 2px;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  -webkit-transition-property: border-color, background-color;
  transition-property: border-color, background-color;
}

.modal__form-checkbox:checked {
  border-color: #2196f3;
  background-color: #2196f3;
  background-image: url("data:image/svg+xml,%3Csvg width='13' height='10' viewBox='0 0 13 10' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.95703 4.75166L1.88825 4.68604L1.81923 4.75141L0.93123 5.59258L0.854858 5.66492L0.930974 5.73753L4.42671 9.07236L4.49574 9.1382L4.56476 9.07236L12.069 1.91352L12.1449 1.84116L12.069 1.76881L11.1873 0.927644L11.1183 0.861826L11.0493 0.927611L4.49577 7.17353L1.95703 4.75166Z' fill='white' stroke='white' stroke-width='0.2'/%3E%3C/svg%3E%0A");
}

.modal__form-agreement {
  margin-top: 20px;
  margin-bottom: 30px;
  color: #757575;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: false;
  letter-spacing: false;
  line-height: 1.7;
}
@media screen and (min-width: 1200px) {
  .modal__form-agreement {
    font-size: 14px;
    line-height: auto;
  }
}

.modal__form-checkbox-text {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.modal__form-link {
  color: #2196f3;
}

.btn-open {
  margin-left: auto;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  .btn-open {
    display: none;
  }
}

.menu-container {
  padding-top: 48px;
  padding-left: 40px;
  padding-bottom: 40px;
  width: 100vw;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: white;
  -webkit-transform: translateX(100%);
          transform: translateX(100%);
  -webkit-transition: -webkit-transform 250ms ease-in-out;
  transition: -webkit-transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out;
  transition: transform 250ms ease-in-out, -webkit-transform 250ms ease-in-out;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .menu-container {
    padding-left: 35px;
  }
}
@media screen and (min-width: 768px) {
  .menu-container {
    display: none;
  }
}

.mobile-nav__list {
  list-style: none;
}

.mobile-nav__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-nav__link {
  color: #212121;
  text-decoration: none;
  font-size: 40px;
  font-weight: 500;
  letter-spacing: auto;
  line-height: 0.02em;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .mobile-nav__link {
    font-size: 30px;
  }
}

.mobile-nav__link--current {
  color: #2196f3;
}

.menu-container.is-open {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.mobile-contacts {
  margin-top: auto;
  margin-bottom: 64px;
  list-style: none;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .mobile-contacts {
    margin-bottom: 50px;
  }
}

.mobile-contacts__item:not(:last-child) {
  margin-bottom: 32px;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .mobile-contacts__item:not(:last-child) {
    margin-bottom: 20px;
  }
}

.mobile-contacts__link {
  color: #757575;
  text-decoration: none;
  font-size: 24px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: false;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .mobile-contacts__link {
    font-size: 14px;
  }
}
.mobile-contacts__link--tel {
  color: #2196f3;
  font-size: 34px;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .mobile-contacts__link--tel {
    font-size: 24px;
  }
}

.mobile-nav__socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 20px;
  list-style: none;
}

.nav-socials__item {
  position: relative;
}
.nav-socials__item:not(:last-child)::after {
  position: absolute;
  right: -10px;
  top: 0;
  display: block;
  content: "";
  width: 1px;
  height: 22px;
  background-color: rgba(33, 33, 33, 0.2);
}

.nav-socials__link {
  color: #2196f3;
  text-decoration: none;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: 0.02em;
  line-height: 1.2;
}
@media screen and (min-width: 320px) and (max-width: 479.99px) {
  .nav-socials__link {
    font-size: 11px;
  }
}

.btn-close {
  width: 30px;
  height: 30px;
  padding: 0;
  background-color: #fff;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  top: 8px;
  right: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-duration: 250ms;
          transition-duration: 250ms;
  -webkit-transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
          transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.btn-close:hover, .btn-close:focus {
  color: #2196f3;
  cursor: pointer;
}

.btn-close__icon {
  fill: currentColor;
}

.btn-close--mobile-nav {
  width: 40px;
  height: 40px;
  border: none;
  border-radius: 0;
}/*# sourceMappingURL=main.css.map */