.clients {
  @include section;
}

.clients__heading {
  margin-bottom: 0;

  text-align: center;
  @include text-styles($firstFontSize, 700, false, false);

  @include desktop-screen {
    margin-bottom: 50px;
    font-size: $firstFontSizeDesktop;
  }
}

.clients__list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;

  @include desktop-screen {
    flex-wrap: nowrap;
  }
}
.clients__item {
  margin-top: 30px;
  min-width: 210px;
  @include phone-screen-only {
    &:nth-child(2n + 1) {
      margin-right: 30px;
    }
  }

  @include tablet-screen {
    min-width: 226px;
    margin-right: 0;
    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }
  }
  @include desktop-screen {
    min-width: 170px;
    margin-top: 0;
    //margin-right: 0;
    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}
.clients__link {
  flex-basis: calc((100% - 30px) / 2);
  height: 92px;

  color: $iconsColor;

  display: flex;
  justify-content: center;
  align-items: center;

  border: 1px solid $iconsColor;
  border-radius: 4px;

  @include transition;
  transition-property: color, border-color;

  @include tablet-screen {
    flex-basis: calc((100% - 60px) / 3);
  }
  @include desktop-screen {
    flex-basis: calc(100% / 6);
    &:hover,
    &:focus {
      color: $accentColor;
      border-color: $accentColor;
    }
  }
}
.clients__icon {
  fill: currentColor;
}
