.contacts {
  display: flex;
  margin-left: auto;
  list-style: none;

  @include phone-screen-only {
    display: none;
  }
  @include tablet-screen-only {
    display: block;
  }
}
.contacts__icon {
  fill: currentColor;
  margin-right: 10px;
}
.contacts__item {
  @include tablet-screen-only {
    justify-content: start;
    margin-bottom: 10px;

    &:last-child {
      margin-bottom: 0;
    }
  }
  @include desktop-screen {
    margin-right: 50px;

    &:last-child {
      margin-right: 0;
    }
  }
}
.contacts__link {
  display: flex;
  align-items: center;

  color: $secondTextColor;

  text-decoration: none;
  @include text-styles($forthFontSize, 500, $secondLetterSpacing, false);

  @include transition;

  &:hover,
  &:focus {
    color: $accentColor;
  }

  @include tablet-screen-only {
    font-size: 12px;
  }
}
.contacts__item--footer,
.contacts__item--map {
  margin-bottom: 9px;
  margin-right: 0;
}
.contacts__link--footer,
.contacts__link--map {
  letter-spacing: $mainLetterSpacing;
}
.contacts__link--map {
  color: $thirdTextColor;
}
