.logo {
  color: $accentColor;

  text-decoration: none;
  font-family: Raleway, -apple-system, BlinkMacSystemFont, avenir next, avenir,
    segoe ui, helvetica neue, helvetica, Cantarell, Ubuntu, roboto, noto, arial,
    sans-serif;
  font-size: $logoFontSize;
  font-weight: 700;

  @include tablet-screen {
    margin-right: 87px;
  }
  @include desktop-screen {
    margin-right: 95px;
    font-size: $logoFontSizeDesktop;
  }
}
.logo--black {
  color: black;
}
.logo--footer {
  margin-right: 0;
}
.logo--white {
  color: $thirdTextColor;
}
