@mixin section($pt: 94px, $pb: 94px) {
  padding-top: $pt;
  padding-bottom: $pb;
}
@mixin transition($tp: color) {
  transition-property: $tp;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
@mixin text-styles(
  $size: false,
  $weight: false,
  $letterSpacing: false,
  $lineHeight: false
) {
  font-size: $size;
  font-weight: $weight;
  letter-spacing: $letterSpacing;
  line-height: $lineHeight;
}
