// Background colors
$heroBgColor: #c4c4c4;
$secondBgColor: #2f303a;
$thirdBgColor: #f5f4fa;

// Text colors
$accentColor: #2196f3;
$activeColor: #188ce8;
$mainTextColor: #212121;
$secondTextColor: #757575;
$thirdTextColor: white;

// Border colors
$headerBorderColor: #ececec;
$portfolioBorderColor: #eeeeee;

// Icons colors
$iconsColor: #afb1b8;

// Font sizes
$logoFontSize: 26px;
$fontSizeH1: 44px;
$firstFontSize: 36px;
$secondFontSize: 18px;
$thirdFontSize: 16px;
$forthFontSize: 14px;

// Letter spaces
$mainLetterSpacing: 0.03em;
$secondLetterSpacing: 0.02em;
$thirdLetterSpacing: 0.06em;
/* :root {
  --hero-bg-color: #c4c4c4;
  --second-background-color: #2f303a;
  --third-background-color: #f5f4fa;

  --accent-color: #2196f3;
  --active-color: #188ce8;
  --main-text-color: #212121;
  --second-text-color: #757575;
  --third-text-color: white;

  --header-border-color: #ececec;
  --portfolio-border-color: #eeeeee;

  --icons-color: #afb1b8;

  --logo-font-size: 26px;
  --font-size-h1: 44px;
  --first-font-size: 36px;
  --second-font-size: 18px;
  --third-font-size: 16px;
  --forth-font-size: 14px;

  --main-letter-spacing: 0.03em;
  --second-letter-spacing: 0.02em;
  --third-letter-spacing: 0.06em;
} */
