// Background colors
$heroBgColor: #c4c4c4;
$secondBgColor: #2f303a;
$thirdBgColor: #f5f4fa;

// Text colors
$accentColor: #2196f3;
$activeColor: #188ce8;
$mainTextColor: #212121;
$secondTextColor: #757575;
$thirdTextColor: white;

// Border colors
$headerBorderColor: #ececec;
$portfolioBorderColor: #eeeeee;

// Icons colors
$iconsColor: #afb1b8;

// Font sizes
$logoFontSize: 24px;
$logoFontSizeDesktop: 26px;
$fontSizeH1: 26px;
$fontSizeH1Desktop: 44px;
$firstFontSize: 28px;
$firstFontSizeDesktop: 36px;
$secondFontSize: 18px;
$thirdFontSize: 16px;
$forthFontSize: 14px;
$mobileLinkFontSize: 40px;

// Letter spaces
$mainLetterSpacing: 0.03em;
$secondLetterSpacing: 0.02em;
$thirdLetterSpacing: 0.06em;
